{
    "compact": true,
    "presets": [
        [
            "es2015",
            "react"
        ],
        [
            "env",
            {}
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/register",
        "@babel/cli @babel/preset-env",
        "@babel/preset-react",
        "@babel/plugin-transform-react-jsx-compat",
        "@babel/plugin-proposal-function-bind",
        "@babel/plugin-proposal-class-properties"
    ]
}